@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.firstbg{
  background-color: #BAFF39;
}
.headColor{
  color: #BAFF39;
}
.bgc{
  background-color: #6E6E6E;
}
text-gradient {
  font-size: 72px;
  background: -webkit-linear-gradient(#aa2bf9, #333);
 
  
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
